* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #409469;
    color: #222;
}

h1 {
    color: rgb(197, 16, 16);
}

.reading {
    text-align: center;
    font-size: x-large;
    background: rgb(174, 175, 177);
    color: rgb(15, 14, 14);
    font-style: italic;
}

h2 {
    color: brown;
    background-color: rgb(220, 238, 238);
}

.booklist {
    width: 90vw;
    max-width: 117;
    margin: 5rem auto;
    display: grid;
    gap: 1.9rem;
}

.book {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.book h1 {
    margin: 0.5rem;
}

h4 {
    margin-left: auto;
    
}

.book h4 {
    color: #617d98;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.book p {
    margin-top: 0.5rem;
}

.bookHeading {
    text-align: center;
    color: rgb(107, 8, 13);
    background-color: burlywood;
}

@media screen and (min-width:786px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
        /* align-items: flex-start; */
    }
}